<?xml version="1.0"?>
<!--
  Copyright © 2024 LucasZit. All rights reserved.
  See COPYING.txt for license details.

  @author Lucas Pereira
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lucaszit" translate="label comment" sortOrder="900">
            <label>LucasZit</label>
        </tab>
        <section id="lock_checkout" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lock Checkout</label>
            <tab>lucaszit</tab>
            <resource>LucasZit_LockCheckout::lock_checkout_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_module" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "Yes" to enable the Lock Checkout functionality.</comment>
                </field>
                <field id="auto_assign" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Assign Lock Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_module">1</field>
                    </depends>
                    <comment>Automatically assign the Lock Checkout attribute as active for new customers.</comment>
                </field>
                <field id="redirect_on_lock" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect on Lock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_module">1</field>
                    </depends>
                    <comment>Choose "Yes" to redirect locked customers to a specific CMS page Lock Checkout Message. If "No", they will remain on the home page with an error message.</comment>
                </field>
                <field id="lock_message" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message for Locked Checkout</label>
                    <depends>
                        <field id="enable_module">1</field>
                        <field id="redirect_on_lock">0</field>
                    </depends>
                    <comment>This message will be displayed to customers who are locked from proceeding to checkout.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
